boto3==1.38.3
fastapi==0.115.12
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
# mobile_sam @ git+https://github.com/ChaoningZhang/MobileSAM.git@34bbbfdface3c18e5221aa7de6032d7220c6c6a1
numpy==2.2.5
opencv-python-headless==4.11.0.86
pillow==11.2.1
pydantic==2.11.3
python-dotenv==1.1.0
torch==2.8.0
torchvision==0.23.0
hypercorn==0.17.3