torch>=2.7.0
torchvision>=0.15.0
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
opencv-python-headless>=4.11.0.86
pillow>=11.2.1
numpy>=2.2.5