--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.7.0
torchvision>=0.15.0
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
# mobile_sam @ git+https://github.com/ChaoningZhang/MobileSAM.git@34bbbfdface3c18e5221aa7de6032d7220c6c6a1
opencv-python-headless>=4.11.0.86
pillow>=11.2.1
numpy>=2.2.5